html,
body {
    font-family: Inter, system-ui, -apple-system, Segoe UI, Arial, sans-serif;
}



:root {
    --appPrimary: #007041;
    --appPrimaryHover: #244a3e;
    --appBg: #F3F4F6;
    --appSurface: #FFFFFF;
    --appBorder: #E5E7EB;
    --appText: #111827;
    --appMuted: #6B7280;

    --sidebarBg: #2f4f46;
    /* el verde del sidebar */

    /* Para tu cdHeader */
    --primary: var(--appPrimary);
}