<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si no es un archivo existente
    RewriteCond %{REQUEST_FILENAME} !-f
    # Si no es un directorio existente
    RewriteCond %{REQUEST_FILENAME} !-d
    # Redirigir todo al index.html
    RewriteRule ^ index.html [L]
</IfModule>
